@page "/token"

<MudContainer>
<h3>@(code)</h3>
    <MudIconButton Icon="@Icons.Material.Filled.Check" Color="Color.Success" Edge="Edge.End" OnClick="SubmitToAuth" />
</MudContainer>

@code {
    [SupplyParameterFromQuery]
    public string? code { get; set; }
    [SupplyParameterFromQuery]
    public string? error { get; set; }
    [Inject]
    ISpotifyAuthService spotifyAuthService { get; set; }

    public async Task SubmitToAuth()
    {
        Console.WriteLine("CreatePlaylist");
        await spotifyAuthService.CreatePlaylist(code);
    }

}
