@page "/token"

<MudContainer>
<h3>@(code)</h3>
</MudContainer>

@code {
    [SupplyParameterFromQuery]
    [Parameter]
    public string? code { get; set; }
    [SupplyParameterFromQuery]
    [Parameter]
    public string? error { get; set; }
    [Inject]
    ISpotifyAuthService spotifyAuthService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await spotifyAuthService.CreatePlaylist(code);
    }

}
